/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@font-face {
  font-family: "A Angkanya Sebelas";
  src: url("/static/fonts/aAngkanyaSebelas.ttf") format("truetype");
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heroBanner {
  padding: 1rem 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #c5cdd0;
  color: #1c2c2e;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleText {
  font-family: "A Angkanya Sebelas";
}

.titleText span:first-child {
  color: #1c2c2e;
}

.titleText span:last-child {
  color: #c96329;
}

.animContainer {
  animation: intro 1s both;
  animation-delay: 0.15s;
}
