version: 2
updates:
  # Maintain dependencies for Cargo
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    groups:
      minor:
        update-types:
          - "minor"
      patch:
        update-types:
          - "patch"

  # Maintain dependencies for NPM
  - package-ecosystem: "npm"
    directory: "/website"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    groups:
      minor:
        update-types:
          - "minor"
      patch:
        update-types:
          - "patch"
