.features {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.text {
  font-family: "A Angkanya Sebelas";
  font-size: 1.5em;
}
