[package]
name = "git-cliff-core"
version = "1.2.0" # managed by release.sh
description = "Core library of git-cliff"
authors = ["git-cliff contributors <git-cliff@protonmail.com>"]
license = "GPL-3.0"
homepage = "https://github.com/orhun/git-cliff"
repository = "https://github.com/orhun/git-cliff"
keywords = ["changelog", "generator", "conventional", "commit"]
edition = "2021"
rust-version = "1.64.0"

[features]
default = ["repo"]
repo = ["dep:git2"]

[dependencies]
glob.workspace = true
regex.workspace = true
log.workspace = true
thiserror = "1.0.40"
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0.96"
serde_regex = "1.1.0"
tera = "1.18.1"
indexmap = "1.9.3"
toml = "0.7.3"
lazy-regex = "2.5.0"

[dependencies.git2]
version = "0.17.1"
default-features = false
optional = true

[dependencies.config]
version = "0.13.3"
default-features = false
features = ["toml", "yaml"]

[dependencies.git-conventional]
version = "0.12.3"
features = ["serde"]

[dependencies.rust-embed]
version = "6.6.1"
features = ["debug-embed"]

[dev-dependencies]
pretty_assertions = "1.3.0"
