name: Docker Automated Builds

on:
  push:
    branches:
      - main

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: docker build -t git-cliff .
      - name: Tag
        run: |
          docker tag git-cliff orhunp/git-cliff:latest
          docker tag git-cliff docker.pkg.github.com/orhun/git-cliff/git-cliff:latest
      - name: Login (Docker Hub)
        run: echo ${{ secrets.DOCKERHUB_PASS }} |
          docker login -u orhunp --password-stdin
      - name: Push (Docker Hub)
        run: docker push orhunp/git-cliff:latest
      - name: Login (Package Registry)
        run: echo ${{ secrets.GITHUB_TOKEN }} |
          docker login -u orhun docker.pkg.github.com --password-stdin
      - name: Push (Package Registry)
        run: docker push docker.pkg.github.com/orhun/git-cliff/git-cliff:latest
