name: Test fixtures

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-fixtures:
    name: Test fixtures
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - fixtures-name: test-ignore-tags
          - fixtures-name: test-topo-order
            command: --latest
          - fixtures-name: test-date-order
            command: --latest
          - fixtures-name: test-topo-order-arg
            command: --latest --topo-order
          - fixtures-name: test-latest-with-one-tag
            command: --latest
          - fixtures-name: test-commit-footers
          - fixtures-name: test-commit-preprocessors
          - fixtures-name: test-custom-scope
          - fixtures-name: test-limit-commits
          - fixtures-name: test-skip-breaking-changes
          - fixtures-name: test-split-commits
          - fixtures-name: test-bump-version
            command: --bump
          - fixtures-name: test-keep-a-changelog-links
          - fixtures-name: test-keep-a-changelog-links-current-arg
            command: --current
          - fixtures-name: test-keep-a-changelog-links-current-arg
            command: --latest
          - fixtures-name: test-keep-a-changelog-links-latest-arg
            command: --latest
          - fixtures-name: test-keep-a-changelog-links-no-tags
          - fixtures-name: test-keep-a-changelog-links-no-tags
            command: --unreleased
          - fixtures-name: test-keep-a-changelog-links-no-tags
            command: --latest
          - fixtures-name: test-keep-a-changelog-links-no-tags
            command: --current
          - fixtures-name: test-keep-a-changelog-links-one-tag
          - fixtures-name: test-keep-a-changelog-links-tag-arg
            command: --tag v0.3.0
          - fixtures-name: test-keep-a-changelog-links-unreleased-arg
            command: --unreleased
          - fixtures-name: test-keep-a-changelog-links-unreleased-arg
            command: --latest --unreleased
          - fixtures-name: test-keep-a-changelog-links-one-tag-bump-arg
            command: --bump
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run a fixtures test
        uses: ./.github/actions/run-fixtures-test
        with:
          fixtures-dir: .github/fixtures/${{ matrix.fixtures-name }}
          command: ${{ matrix.command }}
