name: Test fixtures

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-fixtures:
    name: Test fixtures
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - fixtures-name: new-fixture-template
          - fixtures-name: test-github-integration
          - fixtures-name: test-gitlab-integration
          - fixtures-name: test-gitea-integration
          - fixtures-name: test-bitbucket-integration
          - fixtures-name: test-ignore-tags
          - fixtures-name: test-invert-ignore-tags
          - fixtures-name: test-topo-order
            command: --latest
          - fixtures-name: test-date-order
            command: --latest
          - fixtures-name: test-topo-order-arg
            command: --latest --topo-order
          - fixtures-name: test-latest-with-one-tag
            command: --latest
          - fixtures-name: test-commit-footers
          - fixtures-name: test-commit-preprocessors
          - fixtures-name: test-custom-scope
          - fixtures-name: test-limit-commits
          - fixtures-name: test-skip-breaking-changes
          - fixtures-name: test-split-commits
          - fixtures-name: test-bump-version
            command: --bump
          - fixtures-name: test-bump-version-major
            command: --bump major
          - fixtures-name: test-bump-version-minor
            command: --bump minor
          - fixtures-name: test-bump-version-patch
            command: --bump patch
          - fixtures-name: test-bump-version-custom-minor
            command: --bump
          - fixtures-name: test-bumped-version
            command: --bumped-version
          - fixtures-name: test-footer-template
          - fixtures-name: test-keep-a-changelog-links
          - fixtures-name: test-keep-a-changelog-links-current-arg
            command: --current
          - fixtures-name: test-keep-a-changelog-links-current-arg
            command: --latest
          - fixtures-name: test-keep-a-changelog-links-latest-arg
            command: --latest
          - fixtures-name: test-keep-a-changelog-links-no-tags
          - fixtures-name: test-keep-a-changelog-links-no-tags
            command: --unreleased
          - fixtures-name: test-keep-a-changelog-links-no-tags
            command: --latest
          - fixtures-name: test-keep-a-changelog-links-no-tags
            command: --current
          - fixtures-name: test-keep-a-changelog-links-one-tag
          - fixtures-name: test-keep-a-changelog-links-tag-arg
            command: --tag v0.3.0
          - fixtures-name: test-keep-a-changelog-links-unreleased-arg
            command: --unreleased
          - fixtures-name: test-keep-a-changelog-links-unreleased-arg
            command: --latest --unreleased
          - fixtures-name: test-keep-a-changelog-links-one-tag-bump-arg
            command: --bump
          - fixtures-name: test-skip-commits
            command: --skip-commit ad27b43e8032671afb4809a1a3ecf12f45c60e0e
          - fixtures-name: test-no-exec
            command: --no-exec
          - fixtures-name: test-custom-tag-pattern
            command: --tag-pattern "alpha.*"
          - fixtures-name: test-configure-from-cargo-toml
          - fixtures-name: test-bump-initial-tag
            command: --bump
          - fixtures-name: test-bump-initial-tag-default
            command: --bump
          - fixtures-name: test-bump-initial-tag-cli-arg
            command: --bump --tag=2.1.1
          - fixtures-name: test-cli-arg-ignore-tags
            command: --ignore-tags ".*beta"
          - fixtures-name: test-tag-message
          - fixtures-name: test-bump-unreleased-with-tag-message-arg
            command: --bump --unreleased --with-tag-message "Some text"
          - fixtures-name: test-from-context
            command: --from-context context.json
          - fixtures-name: test-always-render-unreleased
            command: --unreleased
          - fixtures-name: test-always-render
            command: --unreleased --tag v0.2.0
          - fixtures-name: test-unchanged-tag-date
            command: --tag v0.2.0

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run a fixtures test
        uses: ./.github/actions/run-fixtures-test
        with:
          fixtures-dir: .github/fixtures/${{ matrix.fixtures-name }}
          command: ${{ matrix.command }}
