name: Test fixtures

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-fixtures:
    name: Test fixtures
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - fixtures-name: test-ignore-tags
          - fixtures-name: test-topo-order
            command: --latest
          - fixtures-name: test-date-order
            command: --latest
          - fixtures-name: test-topo-order-arg
            command: --latest --topo-order
          - fixtures-name: test-latest-with-one-tag
            command: --latest
          - fixtures-name: test-commit-preprocessors
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run a fixtures test
        uses: ./.github/actions/run-fixtures-test
        with:
          fixtures-dir: .github/fixtures/${{ matrix.fixtures-name }}
          command: ${{ matrix.command }}
