{
  "name": "git-cliff-${node_os}-${node_arch}",
  "version": "${version}",
  "description": "A highly customizable Changelog Generator that follows Conventional Commit specifications ⛰️",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/orhun/git-cliff.git"
  },
  "keywords": [
    "git",
    "git-cliff",
    "git-changelog",
    "changelog",
    "versioning",
    "changelog-generator",
    "rust"
  ],
  "author": "git-cliff contributors <git-cliff@protonmail.com>",
  "license": "GPL-3.0",
  "bugs": {
    "url": "https://github.com/orhun/git-cliff/issues"
  },
  "homepage": "https://github.com/orhun/git-cliff#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
