{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "A highly customizable Changelog Generator that follows Conventional Commit specifications ⛰️",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/orhun/git-cliff.git"
  },
  "keywords": [
    "git-cliff",
    "git",
    "changelog",
    "change log",
    "CHANGELOG.md",
    "commit messages",
    "commits",
    "changes",
    "unreleased",
    "history",
    "what's new",
    "change set",
    "conventionalcommits.org",
    "conventional",
    "conventional-commit",
    "conventional-changelog",
    "releases",
    "release notes",
    "git-changelog",
    "versioning",
    "semver",
    "distribution",
    "semantic",
    "semantic versioning",
    "parser",
    "changelog-generator",
    "generator",
    "keepachangelog",
    "keep-a-changelog",
    "commit",
    "automation",
    "rust"
  ],
  "author": "git-cliff contributors <git-cliff@protonmail.com>",
  "license": "MIT OR Apache-2.0",
  "bugs": {
    "url": "https://github.com/orhun/git-cliff/issues"
  },
  "homepage": "https://github.com/orhun/git-cliff#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ],
  "publishConfig": {
    "access": "public"
  }
}
